<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolapp.schoolapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityListCourse"
            android:label="@string/title_activity_course_list"
            android:parentActivityName=".ActivityViewTerm"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityViewTerm" />
        </activity>
        <activity
            android:name=".ActivityListMentor"
            android:label="@string/title_activity_list_mentor"
            android:parentActivityName=".ActivityListCourse"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListCourse" />
        </activity>
        <activity
            android:name=".ActivityListTerm"
            android:label="@string/title_activity_list_term"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.MainActivity" />
        </activity>
        <activity
            android:name=".ActivityViewTerm"
            android:label="@string/title_activity_view_term"
            android:parentActivityName=".ActivityListTerm"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListTerm" />
        </activity>
        <activity
            android:name=".ActivityEditTerm"
            android:label="@string/title_activity_edit_term"
            android:parentActivityName=".ActivityListTerm"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListTerm" />
        </activity>
        <activity
            android:name=".ActivityEditCourse"
            android:label="@string/title_activity_edit_course"
            android:parentActivityName=".ActivityListTerm"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListTerm" />
        </activity>
        <activity
            android:name=".ActivityViewCourse"
            android:label="@string/title_activity_view_course"
            android:parentActivityName=".ActivityListCourse"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListCourse" />
        </activity>
        <activity
            android:name=".ActivityEditMentor"
            android:label="@string/title_activity_edit_mentor"
            android:parentActivityName=".ActivityListMentor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListMentor" />
        </activity>
        <activity
            android:name=".ActivityListAssessment"
            android:label="@string/title_activity_list_assessment"
            android:parentActivityName=".ActivityListCourse"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListCourse" />
        </activity>
        <activity
            android:name=".ActivityViewAssessment"
            android:label="@string/title_activity_view_assessment"
            android:parentActivityName=".ActivityListAssessment"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListAssessment" />
        </activity>
        <activity
            android:name=".ActivityEditAssessment"
            android:label="@string/title_activity_edit_assessment"
            android:parentActivityName=".ActivityListAssessment"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListAssessment" />
        </activity>
        <activity
            android:name=".ActivityListNote"
            android:label="@string/title_activity_list_note"
            android:parentActivityName=".ActivityListCourse"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListCourse" />
        </activity>
        <activity
            android:name=".ActivityEditNote"
            android:label="@string/title_activity_edit_note"
            android:parentActivityName=".ActivityListNote"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListNote" />
        </activity>
        <activity
            android:name=".ActivityViewNote"
            android:label="@string/title_activity_view_note"
            android:parentActivityName=".ActivityListNote"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListNote" />
        </activity>

        <provider
            android:name=".URIProvider"
            android:authorities="com.example.schoolapp.schoolapp" />

        <activity
            android:name=".ActivityViewMentor"
            android:label="@string/title_activity_view_mentor"
            android:parentActivityName=".ActivityListMentor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.ActivityListMentor" />
        </activity>
        <activity
            android:name=".ActivityListAllMentors"
            android:label="@string/title_activity_list_all_mentors"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schoolapp.schoolapp.MainActivity" />
        </activity>
    </application>

</manifest>